{% extends 'base.html' %}

{% block content %}
    <h1 style="color: rgb(238, 225, 209);">Welcome to Coda Shop !</h1>

   <h5 style="color: rgb(238, 225, 209);">Hi,  {{name}}</h5>

    <p style="color: rgb(238, 225, 209);">{{ pembuat }}<p>

    <div class="bordered-table" id="product_table"></div>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

<br />

<a href="{% url 'main:create_item' %}">
    <button class="buttonakhir">
        Add New Item !!
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button class="buttonakhir">
        Logout
    </button>
</a>

<h5 style="color: rgb(238, 225, 209);">Latest Login: {{ last_login }}</h5>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Amount:</label>
                        <textarea class="form-control" id="amount" name="amount"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>







<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }
    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = ``
        products.forEach((item) => {
            htmlString += `    <div class="col-md-1"></div>
      <div class="card rounded" style="width: 20rem;">
        <div class="card-body">
          <h3 class="card-title" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">${item.fields.name}</h5>
          <h3 class="card-subtitle mb-2 text-muted">${item.fields.price} $</h6>
          <p class="card-text">${item.fields.description}</p>
          <p class ="card-text" style="background-color: antiquewhite;">Stock : ${item.fields.amount}</p>
          <a href="/tambah_amount/${item.pk}">
              <button>
                  +
              </button>
          </a>
          <a href="/kurang_amount/${item.pk}">
              <button>
                  -
              </button>
          </a>
          <a href="/hapus_item/${item.pk}">
              <button>
                  DELETE
              </button>
          </a>
        </div>
      </div>` 
        })
        
        document.getElementById("product_table").innerHTML = htmlString
    }

    refreshProducts()

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: 'POST',
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addProduct

</script>

{% endblock content %}